body {
  background-image: url("https://wallpapercave.com/wp/wp6771727.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.App {
  text-align: center;
  color: white;
}

.header {
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 0;
  padding: 0;
}

.card {
  margin: 2rem 0;
}
.villain-index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.villain-show-cards {
}
.profile-pic {
  width: 30%;
  height: 30%;
  justify-content: space-around;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.villain-show-img {
}

.new-villain-form {
  color: aliceblue;
  width: "80vw";
}

.form-label {
}

.button {
}

.Footer {
  color: white;
}

.bio {
  float: right;
  flex-direction: row;
}

.about {
  display: flex;
}
