body {
  background-image: url("https://rare-gallery.com/resol/1920x1080/341416-Thanos-Infinity-Gauntlet-Minimalist-Minimalism-Marvel-Comics-Supervillain-Comics-Comic-Supervillains-Villain-Villains.jpg");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
